# Data  Exploration

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
from collections import Counter

In [2]:
ngs_reads = pd.read_json('exported_datasets/complete_set.json')

After exporting/importing to json, dataformat of columns including dataframes is lost, restore to dfs:

In [3]:
ngs_reads['Basic Statistics'][0]

{'Measure': {'0': 'Filename',
  '1': 'File type',
  '2': 'Encoding',
  '3': 'Total Sequences',
  '4': 'Sequences flagged as poor quality',
  '5': 'Sequence length',
  '6': '%GC'},
 'Value': {'0': '200709_20-07968_20-00891_S21_L000_R2_001.fastq.gz',
  '1': 'Conventional base calls',
  '2': 'Sanger / Illumina 1.9',
  '3': 511669,
  '4': 0,
  '5': '35-301',
  '6': 34}}

In [4]:
for category in ngs_reads:
    if type(ngs_reads[category][0]) is dict:
        ngs_reads[category] = ngs_reads[category].apply(pd.DataFrame)
        print(category, 'converted to DF')
    elif type(ngs_reads[category][0]) is list:
        ngs_reads[category] = ngs_reads[category].apply(np.array)
        print(category, 'converted to np.array')

Basic Statistics converted to DF
Per base sequence quality converted to DF
Per tile sequence quality converted to DF
Per sequence quality scores converted to DF
Per base sequence content converted to DF
Per sequence GC content converted to DF
Per base N content converted to DF
Sequence Length Distribution converted to DF
Sequence Duplication Levels converted to DF
Overrepresented sequences converted to DF
Adapter Content converted to DF
Module Statuses converted to np.array
G converted to np.array
C converted to np.array
A converted to np.array
T converted to np.array
N converted to np.array
phred_means converted to np.array

#### Show example data

In [5]:
ngs_reads.head()

,Basic Statistics,Per base sequence quality,Per tile sequence quality,Per sequence quality scores,Per base sequence content,Per sequence GC content,Per base N content,Sequence Length Distribution,Sequence Duplication Levels,Overrepresented sequences,...,technology,read_number,evaluation,G,C,A,T,N,phred_means,n_content
200709_20-07968_20-00891_S21_L000_R2_001,Measure \ 0 ...,Base Mean Median Lower Quartile...,Tile Base Mean 0 1101 ...,Quality Count 0 2 3.0 1 ...,Base G A T ...,GC Content Count 0 0 3.00 ...,Base N-Count 0 1 0.479607 1 ...,Length Count 0 30-39 4192.0 1 ...,Duplication Level Percentage of deduplicat...,Empty DataFrame Columns: [] Index: [],...,MS,2,ugly,"[0.3341613426, 0.11678448370000001, 0.13434075...","[0.2022772535, 0.1802278426, 0.174083245200000...","[0.29404751900000003, 0.2354940401, 0.32372099...","[0.1647178156, 0.46721415600000005, 0.36769669...","[0.0047960693000000006, 0.0002794776, 0.000158...","[33.5481121584, 33.7296865747, 33.8020321731, ...",0.000191
200204_20-00746_19-03927_S9_L000_R1_001,Measure \ 0 ...,Base Mean Median Lower Quartile...,Tile Base Mean 0 1101 ...,Quality Count 0 13 2.0 1 ...,Base G A T ...,GC Content Count 0 0 0.0 ...,Base N-Count 0 1 0.009071 1 ...,Length Count 0 30-39 189.0 1 ...,Duplication Level Percentage of deduplicat...,Empty DataFrame Columns: [] Index: [],...,MS,1,ugly,"[0.3211153138, 0.11626166700000001, 0.13734614...","[0.1975563961, 0.17868966960000002, 0.16980507...","[0.31658457830000003, 0.2612497392, 0.34341977...","[0.1646530064, 0.4437989242, 0.3494290094, 0.4...","[9.070540000000001e-05, 0.0, 0.0, 0.0, 0.0, 0....","[32.3463314194, 32.1643037906, 33.0254428692, ...",0.000584
181002-18-6991-775-18_S1_L001_R1_001,Measure \ 0 ...,Base Mean Median Lower Quartile...,Tile Base Mean 0 1101 ...,Quality Count 0 2 1668.0 ...,Base G A T ...,GC Content Count 0 0 1668....,Base N-Count 0 1 0.029292 1 ...,Length Count 0 30-39 4566.0 ...,Duplication Level Percentage of deduplicat...,Empty DataFrame Columns: [] Index: [],...,MS,1,ugly,"[0.4630365098, 0.2234009729, 0.2668379406, 0.2...","[0.2583053852, 0.3056849568, 0.325215608000000...","[0.1668215491, 0.15523545400000002, 0.18280691...","[0.1115436368, 0.31540132400000004, 0.22486224...","[0.000292919, 0.0002772923, 0.0002772923, 0.00...","[33.7891855687, 33.7783872962, 33.7909218039, ...",0.000187
200327_20-04028_20-00328_S25_L000_R1_001,Measure \ 0 ...,Base Mean Median Lower Quartile...,Tile Base Mean 0 1101 ...,Quality Count 0 12 2.0 ...,Base G A T ...,GC Content Count 0 0 0.0 ...,Base N-Count 0 1 0.0 1 ...,Length Count 0 30-39 8954.0 1 ...,Duplication Level Percentage of deduplicat...,Empty DataFrame Columns: [] Index: [],...,MS,1,ugly,"[0.3209387811, 0.1170094851, 0.1332436105, 0.0...","[0.2183526138, 0.1876742968, 0.185322856, 0.19...","[0.29339415280000003, 0.236934527, 0.324150746...","[0.16731445220000002, 0.45838169110000004, 0.3...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[33.4176207762, 33.5015081366, 33.5445255162, ...",0.000017
180727-18-5425-18-01680_S8_L001_R2_001,Measure \ 0 ...,Base Mean Median Lower Quartile...,Tile Base Mean 0 1102 ...,Quality Count 0 15 3.0 1 ...,Base G A T ...,GC Content Count 0 0 0.0 ...,Base N-Count 0 1 0.0 1 ...,Length Count 0 65-69 1.0 1 70...,Duplication Level Percentage of deduplicat...,...,...,MS,2,ugly,"[0.37425149700000004, 0.0928143713, 0.11976047...","[0.2005988024, 0.1706586826, 0.1706586826, 0.1...","[0.2904191617, 0.2305389222, 0.3592814371, 0.1...","[0.1347305389, 0.505988024, 0.3502994012, 0.51...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[32.7934131737, 33.3113772455, 33.2784431138, ...",0.000000

## Data Exploration

#### Dimensions

In [6]:
ngs_reads.shape

(184, 23)

#### Available attributes for a read

In [7]:
ngs_reads.columns

Index(['Basic Statistics', 'Per base sequence quality',
       'Per tile sequence quality', 'Per sequence quality scores',
       'Per base sequence content', 'Per sequence GC content',
       'Per base N content', 'Sequence Length Distribution',
       'Sequence Duplication Levels', 'Overrepresented sequences',
       'Adapter Content', 'Module Statuses', 'organism', 'technology',
       'read_number', 'evaluation', 'G', 'C', 'A', 'T', 'N', 'phred_means',
       'n_content'],
      dtype='object')

#### Show complete data for one read

In [8]:
for category in ngs_reads:
    print(category)
    display(ngs_reads[category][0])

Basic Statistics

,Measure,Value
0,Filename,200709_20-07968_20-00891_S21_L000_R2_001.fastq.gz
1,File type,Conventional base calls
2,Encoding,Sanger / Illumina 1.9
3,Total Sequences,511669
4,Sequences flagged as poor quality,0
5,Sequence length,35-301
6,%GC,34

Per base sequence quality

,Base,Mean,Median,Lower Quartile,Upper Quartile,10th Percentile,90th Percentile
0,1,33.548112,34.0,34.0,34.0,34.0,34.0
1,2,33.729687,34.0,34.0,34.0,34.0,34.0
2,3,33.802032,34.0,34.0,34.0,34.0,34.0
3,4,33.765622,34.0,34.0,34.0,34.0,34.0
4,5,33.781050,34.0,34.0,34.0,34.0,34.0
...,...,...,...,...,...,...,...
63,280-284,22.746697,24.0,16.0,29.8,9.2,35.0
64,285-289,21.384282,21.6,14.8,28.0,9.0,33.8
65,290-294,20.308005,19.4,13.8,26.0,8.8,32.6
66,295-299,19.056884,17.6,12.4,25.8,8.0,31.2
67,300-301,16.385002,15.0,10.0,21.0,8.0,27.5

Per tile sequence quality

      Tile     Base      Mean
0     1101        1  0.030195
1     1101        2 -0.063217
2     1101        3 -0.013447
3     1101        4  0.033154
4     1101        5  0.003146
...    ...      ...       ...
2579  2119  280-284 -0.172432
2580  2119  285-289 -1.815671
2581  2119  290-294  0.908856
2582  2119  295-299  0.152131
2583  2119  300-301  1.562598

[2584 rows x 3 columns]

Per sequence quality scores

    Quality     Count
0         2       3.0
1         3       0.0
2         4       0.0
3         5       0.0
4         6       0.0
5         7       0.0
6         8       0.0
7         9       1.0
8        10       1.0
9        11       3.0
10       12       5.0
11       13       7.0
12       14      17.0
13       15      35.0
14       16      52.0
15       17      86.0
16       18     131.0
17       19     176.0
18       20     248.0
19       21     310.0
20       22     409.0
21       23     460.0
22       24     681.0
23       25     735.0
24       26     910.0
25       27    1304.0
26       28    1653.0
27       29    2207.0
28       30    3080.0
29       31    4623.0
30       32    6943.0
31       33   11941.0
32       34   22473.0
33       35   40380.0
34       36   53547.0
35       37  359248.0

Per base sequence content

       Base          G          A          T          C
0         1  33.577173  29.546459  16.551162  20.325206
1         2  11.681713  23.555987  46.734477  18.027823
2         3  13.436203  32.377225  36.775491  17.411081
3         4   9.389513  21.466741  49.746298  19.397448
4         5   8.786479  41.028132  41.738024   8.447365
..      ...        ...        ...        ...        ...
63  280-284  15.961072  36.683355  29.860565  17.495008
64  285-289  15.634858  37.584143  29.112107  17.668893
65  290-294  15.219478  38.393896  28.165586  18.221040
66  295-299  14.804239  38.594767  27.126277  19.474718
67  300-301  15.101565  41.679023  34.840851   8.378561

[68 rows x 5 columns]

Per sequence GC content

     GC Content  Count
0             0   3.00
1             1   1.50
2             2   0.00
3             3   0.00
4             4   0.00
..          ...    ...
96           96   1.00
97           97   1.00
98           98   0.50
99           99   0.25
100         100   2.00

[101 rows x 2 columns]

Per base N content

       Base   N-Count
0         1  0.479607
1         2  0.027948
2         3  0.015831
3         4  0.008795
4         5  0.008208
..      ...       ...
63  280-284  0.075072
64  285-289  0.060851
65  290-294  0.000000
66  295-299  0.322535
67  300-301  0.395047

[68 rows x 2 columns]

Sequence Length Distribution

     Length    Count
0     30-39   4192.0
1     40-49   9763.0
2     50-59  12611.0
3     60-69  14726.0
4     70-79  17135.0
5     80-89  19612.0
6     90-99  21429.0
7   100-109  23278.0
8   110-119  24146.0
9   120-129  24394.0
10  130-139  24376.0
11  140-149  23713.0
12  150-159  23376.0
13  160-169  21844.0
14  170-179  20707.0
15  180-189  19556.0
16  190-199  17978.0
17  200-209  16894.0
18  210-219  15423.0
19  220-229  14167.0
20  230-239  12684.0
21  240-249  11542.0
22  250-259   9890.0
23  260-269   8316.0
24  270-279   6848.0
25  280-289   5738.0
26  290-299  10490.0
27  300-302  76841.0

Sequence Duplication Levels

   Duplication Level  Percentage of deduplicated  Percentage of total
0                  1                   84.711280            69.592761
1                  2                   11.282641            18.538030
2                  3                    2.682884             6.612199
3                  4                    0.809507             2.660135
4                  5                    0.274517             1.127619
5                  6                    0.107702             0.530884
6                  7                    0.057656             0.331565
7                  8                    0.025161             0.165361
8                  9                    0.019868             0.146896
9                >10                    0.028784             0.294551
10               >50                    0.000000             0.000000
11              >100                    0.000000             0.000000
12              >500                    0.000000             0.000000
13               >1k                    0.000000             0.000000
14               >5k                    0.000000             0.000000
15             >10k+                    0.000000             0.000000

Overrepresented sequences

Empty DataFrame
Columns: []
Index: []

Adapter Content

,Position,Illumina Universal Adapter,Illumina Small RNA 3' Adapter,Illumina Small RNA 5' Adapter,Nextera Transposase Sequence,SOLID Small RNA Adapter
0,1,0.0,0.0,0.0,0.000000,0.0
1,2,0.0,0.0,0.0,0.000000,0.0
2,3,0.0,0.0,0.0,0.000000,0.0
3,4,0.0,0.0,0.0,0.000000,0.0
4,5,0.0,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...
61,270-274,0.0,0.0,0.0,0.147009,0.0
62,275-279,0.0,0.0,0.0,0.174019,0.0
63,280-284,0.0,0.0,0.0,0.195869,0.0
64,285-289,0.0,0.0,0.0,0.205563,0.0
65,290,0.0,0.0,0.0,0.205797,0.0

Module Statuses

array(['pass', 'fail', 'pass', 'pass', 'fail', 'pass', 'pass', 'warn',
       'pass', 'pass', 'pass'], dtype='<U4')

organism

'Sau'

technology

'MS'

read_number

2

evaluation

'ugly'

G

array([0.33416134, 0.11678448, 0.13434076, 0.09388687, 0.08785758,
       0.19743037, 0.18671837, 0.18483238, 0.2077554 , 0.13135445,
       0.26779813, 0.16086767, 0.22543871, 0.16433476, 0.19081477,
       0.17259205, 0.15981425, 0.16462596, 0.17239465, 0.17080574,
       0.17105199, 0.17527738, 0.17157381, 0.17347738, 0.17782785,
       0.17129238, 0.17533405, 0.17511712, 0.17316859, 0.17331712,
       0.17638356, 0.17011584, 0.17232625, 0.17587151, 0.17179466,
       0.1743628 , 0.17700658, 0.17238805, 0.1735412 , 0.17566707,
       0.17162404, 0.1750345 , 0.17663822, 0.17321908, 0.17478495,
       0.17615196, 0.17415252, 0.17391896, 0.17689333, 0.17307731,
       0.17376987, 0.17746963, 0.17296089, 0.17451354, 0.17755333,
       0.17317544, 0.17277347, 0.17649856, 0.17383708, 0.17339617,
       0.17670969, 0.1712481 , 0.17403521, 0.1783706 , 0.17329699,
       0.1741464 , 0.1771688 , 0.17270086, 0.17368074, 0.1763224 ,
       0.17312603, 0.17413617, 0.17652291, 0.17187517, 0.17343395,
       0.17621151, 0.17373267, 0.17345527, 0.17692061, 0.17305987,
       0.17438018, 0.17645213, 0.17246443, 0.17388669, 0.17627582,
       0.17315716, 0.17393311, 0.17687723, 0.17511959, 0.17450822,
       0.17671747, 0.17151229, 0.17390673, 0.17651445, 0.17224479,
       0.17491125, 0.17677724, 0.17405237, 0.17346043, 0.17654494,
       0.17380814, 0.17436038, 0.17761304, 0.17147389, 0.1736688 ,
       0.17791021, 0.17155841, 0.17456014, 0.17665189, 0.17353821,
       0.17584996, 0.17590823, 0.17330867, 0.17392015, 0.17674974,
       0.17102104, 0.17465105, 0.17587012, 0.1743056 , 0.17394737,
       0.17779875, 0.17280438, 0.17481171, 0.17687268, 0.17387987,
       0.17395354, 0.17916332, 0.17295211, 0.17398115, 0.17700061,
       0.17243798, 0.17394   , 0.17647642, 0.17223866, 0.17437314,
       0.17734591, 0.1733863 , 0.17384555, 0.17783334, 0.17358793,
       0.17321527, 0.17656756, 0.17249076, 0.17415092, 0.17844689,
       0.1726789 , 0.1753934 , 0.17691432, 0.17314937, 0.17491977,
       0.17636613, 0.17135396, 0.17319531, 0.17767206, 0.1751169 ,
       0.17484981, 0.17667486, 0.17278164, 0.17420651, 0.17706885,
       0.17279914, 0.17432032, 0.17749496, 0.17365387, 0.17514389,
       0.1763031 , 0.17388835, 0.17481271, 0.17783993, 0.17248274,
       0.17610132, 0.17610001, 0.17479859, 0.17449445, 0.17665216,
       0.17317681, 0.17501409, 0.17910791, 0.1738582 , 0.17515362,
       0.1777022 , 0.17391304, 0.17359589, 0.17733085, 0.17293911,
       0.17260819, 0.17744911, 0.17419511, 0.17515118, 0.17774683,
       0.17359509, 0.17473984, 0.17647556, 0.17440077, 0.17535624,
       0.17734433, 0.17456882, 0.17452813, 0.17632151, 0.17431275,
       0.17532148, 0.17576768, 0.17206397, 0.17446584, 0.17689443,
       0.17322477, 0.17305473, 0.17693775, 0.17358762, 0.17236927,
       0.17871996, 0.17357892, 0.1730929 , 0.17595862, 0.1747461 ,
       0.17510589, 0.17692527, 0.17302257, 0.17567174, 0.17673592,
       0.17622478, 0.17386663, 0.17714421, 0.17277928, 0.17513571,
       0.17656891, 0.17359308, 0.17254364, 0.17712262, 0.17225973,
       0.17322259, 0.17651187, 0.1720061 , 0.17388164, 0.17643594,
       0.17137846, 0.17423043, 0.17628443, 0.1727197 , 0.17197393,
       0.17792987, 0.17149595, 0.17352265, 0.17579839, 0.17139324,
       0.17249592, 0.17465793, 0.17253243, 0.17222064, 0.17309923,
       0.17100486, 0.17137093, 0.17504545, 0.16835906, 0.17259207,
       0.1765289 , 0.16929063, 0.17141819, 0.17143826, 0.16714865,
       0.1698841 , 0.17157296, 0.16804001, 0.16744626, 0.16964174,
       0.16586772, 0.16789863, 0.16999143, 0.16486889, 0.16740895,
       0.16671372, 0.16181236, 0.16309329, 0.16559696, 0.16229481,
       0.1599222 , 0.16525732, 0.15669869, 0.15976647, 0.16168649,
       0.15787482, 0.15861529, 0.161828  , 0.1574224 , 0.15763924,
       0.15812137, 0.15592026, 0.15365054, 0.15588389, 0.15109182,
       0.15422949, 0.15523843, 0.14884117, 0.15155349, 0.15057002,
       0.14796673, 0.14398982, 0.14810414, 0.14715824, 0.15217137,
       0.14826937])

C

array([0.20227725, 0.18022784, 0.17408325, 0.19395742, 0.08446672,
       0.09116245, 0.13319158, 0.13993617, 0.29719604, 0.18366757,
       0.13067628, 0.16607221, 0.18119136, 0.24235003, 0.1780956 ,
       0.16800901, 0.16568915, 0.15794586, 0.16123314, 0.16641227,
       0.16645136, 0.16944157, 0.17034841, 0.16514583, 0.16936926,
       0.1709699 , 0.1667582 , 0.16905851, 0.17168521, 0.16692041,
       0.16927936, 0.17172625, 0.16940639, 0.16894711, 0.17273276,
       0.16790412, 0.16851063, 0.17270038, 0.16876231, 0.17029343,
       0.17175432, 0.16776067, 0.17159221, 0.17095536, 0.17025941,
       0.17042255, 0.17373344, 0.16843874, 0.17032213, 0.17268351,
       0.17023119, 0.1720594 , 0.1738775 , 0.16961698, 0.17155267,
       0.17356684, 0.17205193, 0.17266595, 0.17312795, 0.16986702,
       0.17214459, 0.1737137 , 0.17097174, 0.17234899, 0.17434075,
       0.1705333 , 0.17256745, 0.1745128 , 0.16999028, 0.17231497,
       0.17491376, 0.17040017, 0.17315609, 0.17442174, 0.17070727,
       0.17269979, 0.17450656, 0.17072845, 0.17183428, 0.17263625,
       0.17035998, 0.17298233, 0.17401993, 0.16915939, 0.17266943,
       0.17351714, 0.17152739, 0.17352359, 0.17574392, 0.1698591 ,
       0.17257386, 0.17399062, 0.17032279, 0.17260012, 0.17389505,
       0.17083371, 0.172751  , 0.17338505, 0.1706691 , 0.17241588,
       0.1742985 , 0.17132329, 0.17274159, 0.17421401, 0.17158152,
       0.17184267, 0.17511007, 0.16961344, 0.1731558 , 0.17345079,
       0.17186566, 0.17329952, 0.17426507, 0.17049387, 0.17309765,
       0.17419432, 0.17165892, 0.17281749, 0.17452622, 0.16948985,
       0.17137448, 0.17394626, 0.17159715, 0.17330701, 0.17480462,
       0.17007083, 0.17254448, 0.1752005 , 0.17186921, 0.17376602,
       0.17403591, 0.17050948, 0.17316413, 0.17385702, 0.17200801,
       0.17330492, 0.17399577, 0.17213122, 0.17338593, 0.17607521,
       0.1703454 , 0.17474227, 0.17556181, 0.17119008, 0.17319991,
       0.17533443, 0.17331489, 0.17360059, 0.17519261, 0.17329812,
       0.17415232, 0.17573526, 0.1713864 , 0.17312335, 0.17531648,
       0.17244107, 0.17410122, 0.17483987, 0.17234121, 0.17303044,
       0.17634287, 0.17263744, 0.17511127, 0.17469224, 0.17223886,
       0.17487944, 0.17422363, 0.17225451, 0.17281979, 0.17651797,
       0.1723095 , 0.17366653, 0.1744745 , 0.17065881, 0.17502421,
       0.17584198, 0.17202011, 0.17306457, 0.17576777, 0.17176532,
       0.17519257, 0.17408847, 0.1723612 , 0.17323617, 0.17606262,
       0.17172221, 0.17505859, 0.17457031, 0.17181615, 0.17304689,
       0.17506842, 0.17284953, 0.17469724, 0.17572905, 0.17306476,
       0.17300927, 0.17542938, 0.17238528, 0.17401274, 0.17404797,
       0.1724888 , 0.17436503, 0.17563616, 0.17210218, 0.17385246,
       0.17586408, 0.17255696, 0.17504225, 0.17703898, 0.17333473,
       0.17383959, 0.17600043, 0.17277612, 0.17490237, 0.17684795,
       0.17154045, 0.17490128, 0.1739877 , 0.17284302, 0.17498531,
       0.17423856, 0.17376247, 0.17392305, 0.17483009, 0.17346022,
       0.17645387, 0.17797988, 0.17157813, 0.17532043, 0.17802022,
       0.17211615, 0.17478586, 0.17796825, 0.17191193, 0.17530191,
       0.17664764, 0.17366024, 0.17601944, 0.17514957, 0.17305364,
       0.17469068, 0.17610251, 0.17318157, 0.17384445, 0.17705867,
       0.17343393, 0.17360414, 0.17512528, 0.17511362, 0.17150767,
       0.17717259, 0.17325034, 0.1745757 , 0.17625789, 0.17255666,
       0.17285847, 0.17666715, 0.17130917, 0.17486464, 0.17489121,
       0.1733034 , 0.17385546, 0.17744502, 0.1728302 , 0.17420299,
       0.17496992, 0.17136963, 0.17193211, 0.17625149, 0.17099192,
       0.17529443, 0.17467364, 0.17121522, 0.1739108 , 0.17362567,
       0.16931217, 0.17349228, 0.1767725 , 0.17238214, 0.17244195,
       0.17762133, 0.17135892, 0.17498056, 0.17773887, 0.17321142,
       0.17686301, 0.17708006, 0.17531646, 0.18052049, 0.18468814,
       0.17633148, 0.18038055, 0.18766322, 0.18201415, 0.18997141,
       0.19002828, 0.19618658, 0.19664398, 0.19792336, 0.15148163,
       0.        ])

A

array([0.29404752, 0.23549404, 0.323721  , 0.21464853, 0.41024764,
       0.4865411 , 0.37124391, 0.42036356, 0.19621669, 0.30456213,
       0.2955309 , 0.29210877, 0.26165353, 0.25305813, 0.35262836,
       0.3489932 , 0.33416721, 0.33805058, 0.33295939, 0.32629102,
       0.32659395, 0.31979268, 0.32379917, 0.32664086, 0.31988453,
       0.3240122 , 0.32815746, 0.32601154, 0.32589232, 0.32852684,
       0.32221807, 0.32507344, 0.32494836, 0.32091254, 0.32225912,
       0.32638868, 0.32413314, 0.32424904, 0.32696541, 0.32397527,
       0.32375612, 0.32656499, 0.32210919, 0.3229697 , 0.32474798,
       0.32265516, 0.32258567, 0.32772711, 0.32345848, 0.32364571,
       0.3247347 , 0.32137161, 0.32260577, 0.32557267, 0.32117272,
       0.32336411, 0.32501288, 0.32090777, 0.32303351, 0.32521341,
       0.32216661, 0.32322141, 0.32505179, 0.32157517, 0.32254158,
       0.32383198, 0.32167139, 0.32313885, 0.32535851, 0.32124445,
       0.32159291, 0.32485222, 0.32107713, 0.32363868, 0.32587032,
       0.32034626, 0.32157385, 0.32694959, 0.32216978, 0.32387775,
       0.32465909, 0.32171393, 0.32144877, 0.3262738 , 0.32053366,
       0.32170017, 0.32532561, 0.32049446, 0.31995464, 0.32456241,
       0.32242276, 0.32243864, 0.3245822 , 0.32094499, 0.32293681,
       0.32559013, 0.32046576, 0.32343078, 0.32741292, 0.32033644,
       0.32246417, 0.32389415, 0.32092602, 0.32208905, 0.32528881,
       0.32012587, 0.32208219, 0.32544367, 0.32013954, 0.32189919,
       0.32374773, 0.31996782, 0.32231676, 0.32546   , 0.32111899,
       0.32460501, 0.32536508, 0.32227475, 0.32140464, 0.3253522 ,
       0.3212768 , 0.3231407 , 0.32520787, 0.32021788, 0.32121694,
       0.32517935, 0.32008127, 0.32154571, 0.32503435, 0.31963406,
       0.32332749, 0.32529998, 0.32315722, 0.322389  , 0.3246226 ,
       0.320325  , 0.32169154, 0.32384633, 0.31881227, 0.31983152,
       0.32407431, 0.31998432, 0.32342584, 0.32391001, 0.31935233,
       0.32034412, 0.32221565, 0.31952948, 0.32172895, 0.32329093,
       0.32245628, 0.32216798, 0.32503786, 0.32019142, 0.31884213,
       0.322923  , 0.32101974, 0.32177849, 0.32485347, 0.31994883,
       0.32109589, 0.32440711, 0.31820869, 0.32103314, 0.32427432,
       0.31965472, 0.32114358, 0.32361378, 0.32199152, 0.3226928 ,
       0.32285991, 0.32063476, 0.32170918, 0.32366109, 0.32041117,
       0.31977433, 0.32452778, 0.32051004, 0.32279568, 0.32239682,
       0.32099618, 0.32307775, 0.32429562, 0.32031493, 0.32181885,
       0.32313675, 0.31821219, 0.32036456, 0.3238809 , 0.32029728,
       0.31996761, 0.32209489, 0.32073279, 0.32115826, 0.32257738,
       0.31965074, 0.31963661, 0.32196893, 0.31904522, 0.3228673 ,
       0.32441663, 0.3229052 , 0.32090328, 0.32482231, 0.32232566,
       0.32155826, 0.32437156, 0.32056157, 0.32439861, 0.32385904,
       0.32111286, 0.32326838, 0.32525447, 0.32082134, 0.3205293 ,
       0.32547503, 0.320225  , 0.32285054, 0.32344231, 0.3208426 ,
       0.3212183 , 0.32488347, 0.32168894, 0.32291999, 0.32328932,
       0.31921531, 0.32290158, 0.32599775, 0.32072032, 0.32255232,
       0.32393327, 0.32247114, 0.32306158, 0.32484899, 0.32069219,
       0.32474211, 0.32734134, 0.32267077, 0.32346356, 0.32599391,
       0.32147446, 0.32590991, 0.32891251, 0.32814152, 0.32511941,
       0.32830343, 0.32507862, 0.32533595, 0.32776259, 0.32815794,
       0.32637685, 0.3290084 , 0.32698581, 0.32877542, 0.33472026,
       0.32916875, 0.33120474, 0.33434178, 0.33288137, 0.33409404,
       0.33783028, 0.33718134, 0.33552121, 0.34275841, 0.33936046,
       0.34318596, 0.34671868, 0.34729241, 0.34744736, 0.34969024,
       0.34921755, 0.35269975, 0.35521686, 0.35055168, 0.35480524,
       0.3635318 , 0.36070597, 0.36151937, 0.36386923, 0.36337556,
       0.36603512, 0.37065372, 0.36704522, 0.36571856, 0.37436409,
       0.37329317, 0.37575771, 0.3789557 , 0.37574786, 0.37778109,
       0.38721176, 0.38192366, 0.38353386, 0.38935751, 0.38298999,
       0.38291982, 0.38791546, 0.38099696, 0.38875898, 0.41125181,
       0.41991826])

T

array([0.16471782, 0.46721416, 0.36769669, 0.49741923, 0.41734598,
       0.22483285, 0.3088266 , 0.25486203, 0.298826  , 0.38035527,
       0.30598883, 0.38094549, 0.33169686, 0.34023949, 0.27842414,
       0.31038425, 0.3402903 , 0.3393307 , 0.33335613, 0.33638739,
       0.33581671, 0.33534766, 0.33408317, 0.33454245, 0.33268969,
       0.3334988 , 0.32950013, 0.32955876, 0.32919329, 0.3310695 ,
       0.33172813, 0.33234181, 0.33220109, 0.33276786, 0.33118285,
       0.33125425, 0.33034376, 0.33058002, 0.33067205, 0.32997752,
       0.33286553, 0.33063984, 0.32966038, 0.3328499 , 0.33020368,
       0.33076635, 0.32952838, 0.3299152 , 0.32932606, 0.33056334,
       0.33125618, 0.32908523, 0.3305437 , 0.33021771, 0.32965011,
       0.32979576, 0.33003295, 0.32986828, 0.32993774, 0.33141621,
       0.32891089, 0.33175872, 0.32987056, 0.32770524, 0.32982068,
       0.33148832, 0.32859236, 0.32964749, 0.33097047, 0.33011606,
       0.33017956, 0.33052366, 0.32924172, 0.32987034, 0.32998197,
       0.33073809, 0.32994493, 0.32870255, 0.3287084 , 0.33022094,
       0.33010653, 0.32868691, 0.33190373, 0.33057237, 0.33048729,
       0.33160289, 0.32915477, 0.32907275, 0.32911759, 0.33102876,
       0.32826043, 0.3320142 , 0.33114848, 0.32987692, 0.33084769,
       0.32866491, 0.32999405, 0.32913179, 0.32845756, 0.33070274,
       0.32942919, 0.33042218, 0.32871936, 0.33222305, 0.32946088,
       0.32999819, 0.33107755, 0.3302481 , 0.32989177, 0.33083927,
       0.32820031, 0.33045993, 0.3301095 , 0.33011806, 0.32903363,
       0.33017963, 0.32832495, 0.32903764, 0.32976353, 0.33085968,
       0.32910844, 0.32965024, 0.32816784, 0.32957708, 0.33009574,
       0.33078771, 0.32821093, 0.33026981, 0.32910946, 0.32953761,
       0.33019862, 0.33024458, 0.32720224, 0.3313671 , 0.32883167,
       0.32882458, 0.33075005, 0.33017377, 0.3297172 , 0.33017939,
       0.3320876 , 0.32846483, 0.32824299, 0.33048784, 0.32868506,
       0.33134749, 0.32877532, 0.32993878, 0.32992906, 0.32849118,
       0.32694251, 0.33054113, 0.33038043, 0.3290061 , 0.33072449,
       0.32977893, 0.32820418, 0.33057806, 0.32858038, 0.32990354,
       0.3297621 , 0.32863512, 0.32918508, 0.33062075, 0.32834293,
       0.32916274, 0.33074444, 0.32931899, 0.32712002, 0.32814056,
       0.32844356, 0.32927753, 0.32880998, 0.33085868, 0.32759955,
       0.33120688, 0.32842941, 0.32731748, 0.32757835, 0.33066657,
       0.32610459, 0.32888025, 0.32952487, 0.32888903, 0.32888833,
       0.33208985, 0.32924717, 0.33057557, 0.32869177, 0.32883647,
       0.33126156, 0.32984809, 0.32809442, 0.32870189, 0.32899656,
       0.32999566, 0.33028275, 0.33107606, 0.33062053, 0.32877198,
       0.32771429, 0.32696209, 0.33136391, 0.32857669, 0.3269219 ,
       0.32935289, 0.33001674, 0.32745844, 0.32497479, 0.33043114,
       0.32611055, 0.32693321, 0.32871513, 0.32800985, 0.32756593,
       0.32755282, 0.32749522, 0.32966289, 0.32753667, 0.32737228,
       0.32814425, 0.32712288, 0.32723723, 0.32943745, 0.32811474,
       0.32768071, 0.32552546, 0.32983221, 0.32683663, 0.32709046,
       0.33072798, 0.32588736, 0.32660996, 0.32885407, 0.32712077,
       0.32723178, 0.32476799, 0.32502536, 0.32819341, 0.32847723,
       0.32538329, 0.32581558, 0.3238201 , 0.32164707, 0.32558008,
       0.32576672, 0.32665931, 0.32700634, 0.32490315, 0.32723517,
       0.32544571, 0.32637033, 0.32248832, 0.32558078, 0.31927231,
       0.32046153, 0.32181071, 0.32199509, 0.32016527, 0.3236074 ,
       0.31879589, 0.31696756, 0.31899377, 0.31677422, 0.31657349,
       0.31568529, 0.31401306, 0.31056733, 0.31139253, 0.31157861,
       0.3086533 , 0.31072281, 0.3104644 , 0.3091988 , 0.30837155,
       0.30681557, 0.30054443, 0.30500944, 0.30398215, 0.302496  ,
       0.29736569, 0.2983491 , 0.29539058, 0.29823924, 0.29385425,
       0.29065149, 0.29022047, 0.29207731, 0.28784777, 0.28643895,
       0.28222727, 0.28245736, 0.27996176, 0.27707484, 0.27357436,
       0.27570132, 0.26840141, 0.27111015, 0.26296085, 0.28151638,
       0.42740596])

N

array([4.7960693e-03, 2.7947760e-04, 1.5830550e-04, 8.7947500e-05,
       8.2084300e-05, 3.3224600e-05, 1.9543900e-05, 5.8632000e-06,
       5.8632000e-06, 6.0586000e-05, 5.8632000e-06, 5.8632000e-06,
       1.9543900e-05, 1.7589500e-05, 3.7133400e-05, 2.1498300e-05,
       3.9087800e-05, 4.6905300e-05, 5.6677300e-05, 1.0358260e-04,
       8.5993100e-05, 1.4071600e-04, 1.9543880e-04, 1.9348450e-04,
       2.2866350e-04, 2.2670910e-04, 2.5016170e-04, 2.5407050e-04,
       6.0586000e-05, 1.6612300e-04, 3.9087770e-04, 7.4266760e-04,
       1.1179102e-03, 1.5009704e-03, 2.0306096e-03, 9.0139300e-05,
       5.8850000e-06, 8.2501100e-05, 5.9022900e-05, 8.6703400e-05,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 5.9519000e-06,
       3.9750000e-06, 3.9829000e-06, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 3.0137800e-05, 8.0562000e-06, 1.4131200e-05,
       1.2140600e-05, 7.9107700e-05, 7.1170200e-05, 9.7850700e-05,
       1.2877220e-04, 5.9436100e-05, 6.3718700e-05, 1.0719370e-04,
       6.8228500e-05, 5.8062900e-05, 7.0711400e-05, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 2.1260000e-06, 1.8773290e-04, 8.7780000e-05,
       2.1486000e-06, 1.9406550e-04, 6.4921000e-06, 4.3435000e-06,
       2.4197660e-04, 1.6413460e-04, 3.6691850e-04, 2.0518840e-04,
       4.9421460e-04, 1.6469840e-04, 1.6314930e-04, 1.0774480e-04,
       3.3809900e-05, 2.2640000e-05, 5.9119900e-05, 3.1983000e-05,
       6.4269100e-05, 4.1510000e-05, 2.5492000e-05, 4.4255800e-05,
       3.9795600e-05, 6.3513900e-05, 7.5656900e-05, 0.0000000e+00,
       1.1940200e-05, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 1.2305870e-04, 1.7177310e-04, 1.3465620e-04,
       1.6100380e-04, 2.7254750e-04, 3.3633710e-04, 3.6449030e-04,
       0.0000000e+00, 7.9129000e-06, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 3.5089930e-04,
       4.4153030e-04, 4.5841870e-04, 2.1542320e-04, 2.5348400e-05,
       2.8367000e-06, 8.5711000e-06, 0.0000000e+00, 3.1871500e-05,
       5.8341000e-06, 6.1695200e-05, 0.0000000e+00, 5.9609000e-06,
       0.0000000e+00, 1.4822340e-04, 1.6458350e-04, 1.9959280e-04,
       1.7634390e-04, 3.1170000e-06, 2.5126580e-04, 3.2594210e-04,
       2.7741990e-04, 2.4101500e-04, 2.7859760e-04, 2.6115460e-04,
       3.1580610e-04, 2.9505860e-04, 3.0074890e-04, 1.6838100e-05,
       0.0000000e+00, 0.0000000e+00, 8.2758900e-05, 2.0167880e-04,
       0.0000000e+00, 7.0687000e-06, 0.0000000e+00, 7.1903000e-06,
       0.0000000e+00, 2.1935000e-05, 1.8431800e-05, 4.8341900e-05,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       2.2873560e-04, 1.6594220e-04, 2.8571310e-04, 3.2117000e-04,
       2.0774730e-04, 3.2697270e-04, 3.1290570e-04, 0.0000000e+00,
       8.6034000e-06, 0.0000000e+00, 0.0000000e+00, 1.7670400e-05,
       4.4576000e-06, 4.0482600e-05, 2.2242500e-04, 2.2900900e-04,
       2.9109660e-04, 4.4299160e-04, 3.2940200e-05, 2.9445710e-04,
       4.6000360e-04, 7.2530000e-05, 1.0732910e-04, 4.6765320e-04,
       0.0000000e+00, 1.0024800e-05, 5.0585000e-06, 0.0000000e+00,
       8.2448300e-05, 4.1608800e-05, 0.0000000e+00, 0.0000000e+00,
       5.8791500e-05, 0.0000000e+00, 3.2672400e-05, 3.2981300e-05,
       5.5510000e-06, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 5.8160000e-06, 2.1703550e-04, 2.1906060e-04,
       1.6137800e-04, 3.0782050e-04, 3.1070850e-04, 3.2580700e-04,
       4.5322470e-04, 4.7630090e-04, 5.0625860e-04, 6.3891200e-05,
       1.7411600e-04, 3.6455490e-04, 6.5738000e-06, 3.3184700e-05,
       0.0000000e+00, 8.1202900e-05, 0.0000000e+00, 4.8275500e-05,
       0.0000000e+00, 7.7274900e-05, 0.0000000e+00, 3.4377060e-04,
       3.5411530e-04, 5.0337040e-04, 4.4919000e-04, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 4.7374900e-04, 5.0129180e-04,
       5.2169720e-04, 6.7604750e-04, 5.6317920e-04, 5.6856400e-04,
       8.4860140e-04, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       9.0471760e-04, 1.0268472e-03, 8.5871100e-04, 9.8235340e-04,
       1.0267680e-03, 9.3576810e-04, 6.5046310e-04, 2.5870110e-04,
       1.8633770e-04, 4.2268600e-04, 0.0000000e+00, 1.9091990e-04,
       2.2132620e-04, 2.9111520e-04, 0.0000000e+00, 2.1672530e-04,
       3.9729800e-05, 3.3027410e-04, 1.2099700e-04, 9.1430900e-05,
       1.0229100e-05, 7.4175570e-04, 9.0273310e-04, 4.1826130e-04,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       1.1030366e-03, 1.0229734e-03, 7.5564270e-04, 8.8093110e-04,
       9.3100580e-04, 1.0709505e-03, 1.0215078e-03, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 2.8942198e-03, 3.3838545e-03,
       3.5067282e-03, 3.1447673e-03, 3.1985655e-03, 3.5788186e-03,
       4.4064116e-03])

phred_means

array([33.54811216, 33.72968657, 33.80203217, 33.76562192, 33.78104986,
       37.60021225, 37.60590929, 37.60169954, 37.62667662, 37.60178748,
       37.63164272, 37.64041988, 37.6441039 , 37.60425001, 37.58689895,
       37.56939936, 37.57773482, 37.58482144, 37.58288268, 37.59896339,
       37.5726456 , 37.55945738, 37.5537877 , 37.52656893, 37.50855924,
       37.55382288, 37.51920284, 37.51124457, 37.55429193, 37.53084709,
       37.51973639, 37.47820564, 37.51061917, 37.4711327 , 37.44154131,
       37.47623946, 37.48134656, 37.47913507, 37.49838376, 37.48086317,
       37.49624076, 37.50387713, 37.45501859, 37.48342982, 37.45610601,
       37.46191347, 37.48050792, 37.48512941, 37.46629501, 37.46697702,
       37.47507316, 37.46768196, 37.44298375, 37.46270074, 37.45973293,
       37.46373305, 37.42031249, 37.44941066, 37.39990093, 37.42126311,
       37.38341924, 37.40023972, 37.42169965, 37.42038003, 37.41931388,
       37.40620522, 37.37638451, 37.3779914 , 37.41592112, 37.38374325,
       37.39906048, 37.39562214, 37.40320009, 37.39070771, 37.37292929,
       37.36439806, 37.34981972, 37.35988156, 37.29683703, 37.31040371,
       37.45359591, 37.50641434, 37.4561229 , 37.44697944, 37.44173314,
       37.37079944, 37.30082268, 37.31220401, 37.34848095, 37.32578466,
       37.32747944, 37.29134077, 37.32280077, 37.28890107, 37.32669129,
       37.28339614, 37.339071  , 37.35302561, 37.36575327, 37.31279885,
       37.34277615, 37.32291041, 37.31080801, 37.29256319, 37.35108771,
       37.28531031, 37.22219612, 37.22019843, 37.25019487, 37.23022809,
       37.22252579, 37.21007139, 37.25138024, 37.24107162, 37.20857022,
       37.23423306, 37.24914511, 37.27110796, 37.2141009 , 37.20069522,
       37.21063757, 37.19695054, 37.17918732, 37.20311391, 37.25807531,
       37.22440881, 37.18688722, 37.1669226 , 37.22282411, 37.20398786,
       37.21261718, 37.1952086 , 37.23496556, 37.15520506, 37.12353513,
       37.14421043, 37.15833828, 37.16086963, 37.12787228, 37.10870645,
       37.15180291, 37.12138156, 37.08512451, 37.09527245, 37.12188799,
       37.06635503, 37.04385587, 37.05022799, 37.11100363, 37.09549289,
       37.05444502, 37.01849881, 37.06102589, 37.00201812, 36.94866778,
       37.01349617, 37.03197837, 37.02615743, 36.95863899, 36.98476859,
       37.000225  , 36.96700034, 36.9012582 , 36.94940448, 36.95422142,
       36.90019126, 36.82815489, 36.86106171, 36.84217243, 36.83033423,
       36.7946988 , 36.83839794, 36.85036792, 36.78481002, 36.75400118,
       36.77668802, 36.78220995, 36.7639188 , 36.74433262, 36.74625718,
       36.71188753, 36.69472557, 36.63816449, 36.62718246, 36.65790605,
       36.61263412, 36.59267032, 36.5952165 , 36.62076054, 36.56617395,
       36.50578358, 36.57302281, 36.59580556, 36.56273496, 36.56407792,
       36.55028211, 36.55034242, 36.38972367, 36.37989695, 36.37436783,
       36.38262552, 36.30155802, 36.30591208, 36.25862875, 36.29773463,
       36.21184494, 36.20522321, 36.18626108, 36.19042379, 36.13522819,
       36.09626406, 36.04084001, 36.01751848, 35.91540973, 35.87312128,
       35.83308847, 35.83801872, 35.77207749, 35.76498209, 35.73378441,
       35.69144058, 35.60902794, 35.62629915, 35.61511097, 35.50762683,
       35.39329941, 35.41025501, 35.35308032, 35.29134253, 35.22567774,
       35.15817919, 35.05454493, 34.96509435, 34.90734337, 34.83118557,
       34.62805821, 34.58367907, 34.48999864, 34.32495358, 34.2905333 ,
       34.21604491, 34.03072086, 33.90980408, 33.81317467, 33.61142945,
       33.53466558, 33.41063343, 33.31664326, 33.05903366, 32.81976414,
       32.67459701, 32.4875597 , 32.06272999, 32.06939556, 31.66520892,
       31.44889976, 31.06392982, 30.81552648, 30.46730736, 30.26348711,
       30.09847017, 29.57470271, 29.00324866, 28.83610485, 28.16238609,
       28.14983698, 27.53080879, 27.60318586, 27.12125546, 26.83905642,
       26.32671211, 26.27182405, 25.82292349, 25.47658834, 25.11711665,
       24.7974256 , 24.2119607 , 24.09709232, 23.69658352, 23.7181446 ,
       22.79739813, 22.80551535, 21.97653127, 22.43589574, 21.8564256 ,
       21.51256136, 21.2141462 , 21.25363924, 21.08463568, 20.52797976,
       20.4256134 , 20.48895464, 19.8349072 , 20.26257088, 19.4894408 ,
       19.48540565, 19.02202701, 18.90829762, 18.37924809, 18.47595685,
       14.29404815])

n_content

0.0001910136

#### target distribution

In [9]:
num_reads = ngs_reads.shape[0]
num_good_reads = ngs_reads['evaluation'].replace({'ugly': 0, 'good': 1}).sum()
print('Good quality:', num_good_reads, 'out of', num_reads)
print('Bad quality:', num_reads - num_good_reads, 'out of', num_reads)

Good quality: 110 out of 184
Bad quality: 74 out of 184

#### distribution of applied technologies

In [10]:
print('instances of technologies')
technologies = ngs_reads.technology.unique()
for technology in technologies:
    print(technology, ngs_reads[ngs_reads.technology == technology].shape[0])

instances of technologies
MS 80
HS 50
NX 54

#### distribution of organisms

In [11]:
print('instances of organisms')
organisms = ngs_reads.organism.unique()
for organism in organisms:
    print(organism, ngs_reads[ngs_reads.organism == organism].shape[0])

instances of organisms
Sau 78
Ecoli 18
Efcm 88

#### variable data size betweend reads

Tables within a module (column) have different lengths, which is problematic for usage as features in ML.  
Show different table lengths of all modules.  
Select unique combinations of lengths, organism and technology to check for correlation.

In [12]:
def unique_size_combinations(df, module_name):
    all_rows = []
    for i in range(df.shape[0]):
        count = str(df[module_name][i].shape[0]) + ' ' + df['organism'][i] + ' ' + df['technology'][i]
        all_rows.append(count)
    unique_combinations = Counter(all_rows).keys()
    combination_counts = Counter(all_rows).values()
    unique_counts = pd.DataFrame()
    unique_counts['combinations'] = unique_combinations
    unique_counts['counts'] = combination_counts
    return unique_counts

In [13]:
counts_per_base_sequence_quality = unique_size_combinations(ngs_reads, 'Per base sequence quality')
counts_per_tile_sequence_quality = unique_size_combinations(ngs_reads, 'Per base sequence quality')
counts_per_sequence_quality_scores = unique_size_combinations(ngs_reads, 'Per sequence quality scores')
counts_per_base_sequence_content = unique_size_combinations(ngs_reads, 'Per base sequence content')
counts_per_sequence_gc_content = unique_size_combinations(ngs_reads, 'Per sequence GC content')
counts_per_base_n_content = unique_size_combinations(ngs_reads, 'Per base N content')
counts_sequence_length_distribution = unique_size_combinations(ngs_reads, 'Per base sequence quality')
counts_sequence_duplication_levels = unique_size_combinations(ngs_reads, 'Sequence Duplication Levels')
counts_overrepresented_sequences = unique_size_combinations(ngs_reads, 'Overrepresented sequences')
counts_adapter_content = unique_size_combinations(ngs_reads, 'Adapter Content')

In [14]:
counts_per_base_sequence_quality

  combinations  counts
0    68 Sau MS      38
1    58 Sau HS      20
2    38 Sau NX      20
3  68 Ecoli MS      10
4  58 Ecoli HS       8
5   68 Efcm MS      32
6   38 Efcm NX      34
7   58 Efcm HS      22

In [15]:
counts_per_tile_sequence_quality

  combinations  counts
0    68 Sau MS      38
1    58 Sau HS      20
2    38 Sau NX      20
3  68 Ecoli MS      10
4  58 Ecoli HS       8
5   68 Efcm MS      32
6   38 Efcm NX      34
7   58 Efcm HS      22

In [16]:
counts_per_sequence_quality_scores

   combinations  counts
0     36 Sau MS      17
1     25 Sau MS       6
2     26 Sau MS       6
3     23 Sau MS       1
4     28 Sau MS       3
5     22 Sau MS       1
6     28 Sau HS       2
7     31 Sau HS       1
8     33 Sau HS       1
9     38 Sau HS       7
10    27 Sau MS       3
11    33 Sau MS       1
12    22 Sau NX       6
13    21 Sau NX       4
14    23 Sau NX       2
15    34 Sau NX       4
16    20 Sau NX       4
17    24 Sau HS       4
18    37 Sau HS       3
19    25 Sau HS       2
20  36 Ecoli MS       8
21  25 Ecoli MS       1
22  23 Ecoli MS       1
23  34 Ecoli HS       3
24  23 Ecoli HS       1
25  25 Ecoli HS       2
26  38 Ecoli HS       2
27   21 Efcm MS       1
28   29 Efcm MS       2
29   23 Efcm MS       1
30   26 Efcm MS       4
31   34 Efcm MS       3
32   25 Efcm MS       3
33   30 Efcm MS       1
34   27 Efcm MS       1
35   17 Efcm NX       1
36   33 Efcm NX       4
37   18 Efcm NX       1
38   21 Efcm NX       3
39   22 Efcm NX       6
40   26 Efcm HS       1
41   38 Efcm HS      11
42   25 Efcm HS       3
43   32 Efcm HS       1
44   28 Efcm HS       2
45   31 Efcm HS       1
46   36 Efcm MS      16
47   24 Efcm NX       3
48   34 Efcm NX       6
49   29 Efcm NX       1
50   20 Efcm NX       6
51   31 Efcm NX       1
52   28 Efcm NX       1
53   26 Efcm NX       1
54   37 Efcm HS       1
55   24 Efcm HS       2

In [17]:
counts_per_base_sequence_content

  combinations  counts
0    68 Sau MS      38
1    58 Sau HS      20
2    38 Sau NX      20
3  68 Ecoli MS      10
4  58 Ecoli HS       8
5   68 Efcm MS      32
6   38 Efcm NX      34
7   58 Efcm HS      22

In [18]:
counts_per_sequence_gc_content

   combinations  counts
0    101 Sau MS      38
1    101 Sau HS      20
2    101 Sau NX      20
3  101 Ecoli MS      10
4  101 Ecoli HS       8
5   101 Efcm MS      32
6   101 Efcm NX      34
7   101 Efcm HS      22

In [19]:
counts_per_base_n_content

  combinations  counts
0    68 Sau MS      38
1    58 Sau HS      20
2    38 Sau NX      20
3  68 Ecoli MS      10
4  58 Ecoli HS       8
5   68 Efcm MS      32
6   38 Efcm NX      34
7   58 Efcm HS      22

In [20]:
counts_sequence_length_distribution

  combinations  counts
0    68 Sau MS      38
1    58 Sau HS      20
2    38 Sau NX      20
3  68 Ecoli MS      10
4  58 Ecoli HS       8
5   68 Efcm MS      32
6   38 Efcm NX      34
7   58 Efcm HS      22

In [21]:
counts_sequence_duplication_levels

  combinations  counts
0    16 Sau MS      38
1    16 Sau HS      20
2    16 Sau NX      20
3  16 Ecoli MS      10
4  16 Ecoli HS       8
5   16 Efcm MS      32
6   16 Efcm NX      34
7   16 Efcm HS      22

In [22]:
counts_overrepresented_sequences

    combinations  counts
0       0 Sau MS      30
1     334 Sau MS       2
2       0 Sau HS      20
3       1 Sau MS       6
4       0 Sau NX      20
5     1 Ecoli MS       2
6   949 Ecoli MS       1
7     0 Ecoli MS       6
8   947 Ecoli MS       1
9     0 Ecoli HS       8
10     0 Efcm MS      27
11     1 Efcm MS       5
12     0 Efcm NX      32
13     0 Efcm HS      16
14     2 Efcm NX       1
15     1 Efcm NX       1
16     1 Efcm HS       3
17     2 Efcm HS       3

In [23]:
counts_adapter_content

  combinations  counts
0    66 Sau MS      38
1    56 Sau HS      20
2    36 Sau NX      20
3  66 Ecoli MS      10
4  56 Ecoli HS       8
5   66 Efcm MS      32
6   36 Efcm NX      34
7   56 Efcm HS      22

All modules except counts_per_base_n_content have variable table lengths.  
The following modules have the same distribution and in total 3 different lengths - 38, 58 or 68.  
* counts_per_base_sequence_quality
* counts_per_tile_sequence_quality
* counts_per_base_sequence_content
* counts_per_sequence_gc_content
* counts_per_base_n_content
* counts_sequence_length_distribution  

Solution to discover practical imputing technique seems challenging.  
Better solution might be to use calculated features like averages, maximums, minimums, counts. Would also help to solve another challenge with data preparation - transforming the dataframes to one dimensional features for the ML algorithms.